.anim14 {
  min-height: 80vh;
}
.anim14 svg {
  height: 40vh;
  width: 40vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.anim14 path {
  fill-opacity: 0.1;
  fill: var(--details);
  stroke-width: 0.5px;
  stroke: var(--neon);
}
.anim14 .stage {
  opacity: 0;
  transition: 0.2s;
}
.anim14 .show {
  opacity: 1;
}