.loaders_box {
  --size: 20vw;
  --shadow: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.loaders h1 {
  text-align: center;
  margin-bottom: 20px;
}
.loader {
  width: var(--size);
  height: var(--size);
  position: relative;
}
/* loader1 */
.loader1 div {
  position: absolute;
  border-radius: 50%;
  border: 2vw solid var(--details2);
  border-top-color: var(--neon);
  animation: spin 2s infinite;
}
.loader1 div:first-of-type {
  width: var(--size);
  height: var(--size);
}
.loader1 div:nth-of-type(2) {
  width: calc(var(--size) * 0.66666);
  height: calc(var(--size) * 0.66666);
  animation-delay: .25s;
}
.loader1 div:last-of-type {
  width: calc(var(--size) * 0.33333);
  height: calc(var(--size) * 0.33333);
  animation-delay: .5s;
}

/* loader2 */
.loader2 div {
  width: calc(var(--size) * 0.75);
  height: calc(var(--size) * 0.75);;
  position: relative;
  margin: 1vw auto;
  border-radius: 50%;
  border: 3px solid transparent;
  border-left: 3px solid var(--neon);
  border-right: 3px solid var(--neon);
  background: radial-gradient(var(--details) 5%, transparent 25%);
  animation: spin_right 2s linear infinite;
}
.loader2 div::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: calc(var(--size) * 0.4);
  height: calc(var(--size) * 0.4);
  border: 2px solid transparent;
  border-left: 2px solid var(--neon);
  border-right: 2px solid var(--neon);
  border-radius: 50%;
  animation: spin_left 1s linear infinite;
}

/* loader3 */
.loader3::before, .loader3::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform-origin: center;
  width: calc(var(--size) * 0.9);
  height: calc(var(--size) * 0.9);
}
.loader3::after {
  box-shadow: inset var(--shadow) 0 0 var(--details2), inset calc(var(--shadow) * (-1)) 0 0 var(--details);
  animation: morpho1 2s linear infinite;
}
.loader3::before {
  box-shadow: inset var(--shadow) 0 0 var(--neon), inset calc(var(--shadow) * (-1)) 0 0 var(--neon2);
  animation: morpho2 2s linear infinite;
}

@keyframes spin {
  50%,
  100% {
    transform: translate(-50%,-50%) rotate(360deg);
  }
}

@keyframes spin_right {
  to {transform: rotate(360deg);}
}
@keyframes spin_left {
  to {transform: translate(-50%,-50%) rotate(-360deg);}
}

@keyframes morpho1 {
  0% {transform: rotateZ(0deg) scaleX(1) scaleY(1);}
  50% {transform: rotateZ(180deg) scaleX(0.45) scaleY(0.95);}
  100% {transform: rotateZ(360deg) scaleX(1) scaleY(1);}
}
@keyframes morpho2 {
  0% {transform: rotateZ(0deg) scaleX(1) scaleY(1);}
  50% {transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.45);}
  100% {transform: rotateZ(-360deg) scaleX(1) scaleY(1);}
}

@media (max-width: 750px) {
  .loaders_box {
    --size: 40vw;
    --shadow: 10px;
    flex-wrap: wrap;
  }
  .loader {
    margin: 10px;
  }
}