@import url('https://fonts.googleapis.com/css?family=Sora:400,600&display=swap');

/* --General-- */
:root {
  --main_font: 'Sora', Verdana, sans-serif;
  --main_dark: rgb(40,40,43);
  --main_light: rgb(255,255,255);
  --shadow: rgb(206,200,205);
  --neon: rgb(255,170,33);
  --neon2: rgba(255,170,33,0.3);
  --details: rgb(94,45,150);
  --details2: rgba(94,45,150,0.3);
}
* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--main_font);
  color: var(--main_light);
  height: 100vh;
  background-color: var(--main_dark);
  min-width: 350px;
}
a {
  text-decoration: none;
  color: var(--main_light);
  font-family: var(--main_font);
}
ul {
  list-style: none;
}
.app {
  padding: 1%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.home_icon {
  max-width: 60px;
  height: auto;
  opacity: 0.5;
  transition: 0.4s ease;
}
.home_icon:hover {
  opacity: 1;
}
.container {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
footer {
  position: absolute;
  bottom: 1%;
  font-size: 0.9rem;
}
label {
  padding-right: 10px;
}
input {
  border: none;
  border-bottom: 1px solid var(--neon2);
  background: inherit;
  outline: none;
  color: var(--main_light);
  font-family: var(--main_font);
  font-size: 1em;
}
input:focus {
  border: none;
  border-bottom: 1px solid var(--neon);
}
button {
  cursor: pointer;
  font-family: var(--main_font);
  text-transform: uppercase;
  border:0;
  outline:none;
  box-shadow:none;
  transition: 0.4s;
}